<!DOCTYPE html>
<html>
  <head>
    <title>Lowbrow</title>
    <link rel="stylesheet" href="../styles/application.css">

    <script type="text/javascript">
      const Remote = require("remote");
      const Menu = Remote.require("menu");
      window.jQuery = require("../../vendor/javascript/jquery.js");
      window.$ = jQuery
    </script>
  </head>

  <body>
    <nav>
      <h1>
        <a href="#">Lowbrow</a>
      </h1>

      <form class="location" role="search" action="">
        <input type="text" placeholder="http://example.com">
        <button type="submit">Go</button>
      </form>
    </nav>

    <section class="portal">
      <webview class="view" src="https://www.github.com/"></webview>
    </section>

    <script type="text/javascript" src="../scripts/application.js"></script>
  </body>
</html>
