<!DOCTYPE html>
<html>
  <head>
    <title>Lowbrow</title>
    <link rel="stylesheet" href="../vendor/stylesheet/bootstrap.css">
    <link rel="stylesheet" href="../styles/application.css">

    <script type="text/javascript">
      const Remote = require("remote");
      const Menu = Remote.require("menu");
      window.jQuery = require("../vendor/javascript/jquery.js");
      window.$ = jQuery
    </script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <h1 class="navbar-header">
        <a class="navbar-brand" href="#">Lowbrow</a>
      </h1>

      <form class="location navbar-form navbar-right navbar-input-group" role="search" action="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="http://example.com">
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </form>
    </nav>

    <section class="portal">
      <webview class="view" src="https://www.github.com/"></webview>
    </section>

    <script type="text/javascript" src="../vendor/javascript/bootstrap.js"></script>
    <script type="text/javascript" src="../vendor/javascript/bootlint.js"></script>
    <script type="text/javascript" src="../scripts/application.js"></script>
  </body>
</html>
