.navbar {
  margin-bottom: 0;
  box-shadow: 0px 1px 10px #444;
}

.navbar-header {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-input-group {
  font-size: 0px;
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

.portal {
  height: 100vh;
}
