nav {
  height: 25px;
  width: 100vw;
  background-color: black;
}

input#location {
  height: 25px;
  width: 98vw;
  padding: 0;
  padding-left: 1vw;
  padding-right: 1vw;
  border: none;
  background-color: black;
  color: white;
}

input#location:focus {
  outline: 0;
}

section#portal {
  position: absolute;
  top: 25px;
  bottom: 0;
  height: 100%;
  width: 100vw;
}
