input#location {
  height: 25px;
  width: 100vw;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  background-color: black;
  color: white;
  opacity: 0.25;
}

input#location:focus {
  outline: 0;
  background-color: lighten(black, 20%);
  color: white;
  opacity: 1.0;
}

section#portal {
  height: 95vh;
  width: 100vw;
}
